{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container sign-in-container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="text-center">{% trans "Sign In" %}</h3>
            <p class="text-center">
                Welcome back to Polka Restaurant. 
                If you would like to make a reservation, please login. If you have not created an account yet, then
                <a href="{{ signup_url }}" class="text-primary">sign up</a> first.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                <button class="btn btn-primary btn-block mt-3" type="submit">{% trans "Sign In" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
