body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: -2rem;
}

.hero-container {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 20px;
}

.carousel-item {
    height: 80vh;

}

