<!DOCTYPE html>
<html lang="en">
<head>
    <title>Polka Restaurant</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- Navigation -->
    <nav>
        <div>
            <a href="{% url 'base' %}">Polka Restaurant</a>
        </div>
        <ul>
            <li><a href="{% url 'base' %}">Home</a></li>
            <li><a href="{% url 'reservation' %}">Reservation</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li> 
        </ul>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="#">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Content from views.py implemented here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Polka Restaurant. All rights reserved.</p>
    </footer>

</body>

</html>