{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
    {% comment %} Required meta tags {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore the flavors of Poland at Polka Restaurant. Savor authentic dishes, from pierogi to kielbasa, in a cozy setting. Join us for a taste of Polish tradition">
    <meta name="keywords" content="restaurant, Polish cuisine, Polish food, traditional dishes, dining, menu, reservation, Poland, Polish restaurant, authentic ">
    <meta name="author" content="Aleksandra Suchojad">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
    {% comment %} Link to css {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block jslibraries %}
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
  {% endblock %}

  <title>{% block title %}Polka Restaurant{% endblock %}</title>
</head>

<body class="d-flex flex-column">
    <!-- Navigation -->
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="{% url 'home' %}" aria-label="Go to Home page" class="navbar-brand">
        Polka Restaurant
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}" aria-label="Go to Home page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}" aria-label="Go to Menu page">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'information' %}" aria-label="Go to Information page">Information</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_reservation' %}" aria-label="Go to Reservations page">Book a Table</a>
          </li>
            {% if user_reservations %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reservation_detail' user_reservations.0.pk %}" aria-label="Go to Your Reservations page">Your Reservations</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Go to Logout page">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}" aria-label="Go to Login page">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main class="main">
    <div class="content__container">
      {% block content %}
        <!-- Content from views.py implemented here -->
      {% endblock %}
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer mt-auto py-3 dark-bg">
    <div class="container-fluid">
      <div class="row footer-padding text-center">
        <div class="col-md">
          <h2 class="footer-h2"><strong>Opening Hours</strong></h2>
          <p>
            <strong>Monday - Friday:</strong> 12.00- 22:00 <br>
            <strong>Saturday - Sunday:</strong> 12:00 - 22:00
          </p>
        </div>
        <div class="col-md">
          <h2 class="footer-h2"><strong>Contact Us</strong></h2>
          <p>
            +44 20 1234 5678 <br>
            info@polka-restaurant.com
          </p>
        </div>
        <div class="col-md">
          <h2 class="footer-h2"><strong>Find Us</strong></h2>
          <p>
            123 London Street <br>
            Central London, WC1X 0AA
          </p>
        </div>
        <div class="col-md">
          <h2 class="footer-h2"><strong>Made By</strong></h2>
          <p class="m-0">Aleksandra Suchojad</p>
          <p class="m-0">
            Follow us:
            <a class="footer-links" href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" 
            aria-label="Visit our Facebook page in a new tab"><i class="fab fa-facebook-square ms-3"></i></a>
            <a class="footer-links" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
            aria-label="Visit our Instagram page in a new tab"><i class="fab fa-instagram-square ms-3"></i></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Script for Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>