{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="hero-container">
  <div class="hero-text">
    <h1>Welcome to Polka Restaurant</h1>
    <h2>Authentic Polish Cuisine</h2>
    <h3>Experience the Taste of Poland</h3>
    <a href="{% url 'account_login' %}" class="btn btn-primary">Book a Table</a>
  </div>

  <div id="carouselExample" class="carousel_slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1703632969/fresh_from_poland_breakfast_rdmzyq.jpg" class="d-block w-100" alt="Picture of a table full of plates with different food.">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1703632969/polish-food-secret-tips-640x427_f4zeph.jpg" class="d-block w-100" alt="A plate of Golabki, one of Polish traditional meals">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1703632969/polish-food-scaled_vlznsx.jpg" class="d-block w-100" alt="Picture of a plate with dumplings">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1703632969/image_dihfqp.jpg" class="d-block w-100" alt="A table with three plates with food and a glass of wine">
      </div>
    </div>
  </div>
</div>

 <!-- About the Restaurant Section -->
 <div class="about-section">
    <h2>About Polka Restaurant</h2>
    <p>Welcome to Polka Restaurant, where we bring the flavors of Poland to your table. Our chefs are dedicated to delivering an authentic Polish culinary experience, using the finest and freshest ingredients to create mouthwatering dishes that capture the essence of Polish cuisine.</p>
    <p>At Polka Restaurant, we believe in providing not just a meal but a journey through the rich and diverse tapestry of Polish flavors. Whether you're a connoisseur of Polish cuisine or a first-time explorer, our menu offers a delightful selection of traditional dishes that will satisfy your palate.</p>
    <p>Come join us and embark on a culinary adventure, savoring the taste of Poland in every bite. We look forward to sharing the warmth and hospitality of our restaurant with you.</p>
  </div>
</div>

{% endblock %}

