{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container information-container mt-5"> <!-- Added margin-top for spacing -->
    <div class="row">
        <div class="col-md-8">
            <h1 class="sub-page-title mb-4">About Us</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="information-h2 mb-3">Our Story</h2>
                    <div class="text-container">
                        <p>
                            Welcome to Polka Restaurant, a culinary journey that started in the heart of Poland and now extends to your table.
                            Established in 2010, our restaurant was founded by a group of passionate individuals with a shared
                            love for Polish cuisine and a vision to bring its rich flavors to a broader audience.
                        </p>
                        <p>
                            Over the years, Polka has become a beloved establishment, known for its commitment to authenticity
                            and the warmth of traditional Polish hospitality.
                            Our chefs, inspired by age-old recipes passed down through generations,
                            meticulously craft each dish to offer you a genuine taste of Poland.
                        </p>
                        <p>
                            As we continue to grow, our dedication remains unwavering.
                            We invite you to join us on a culinary adventure, where every meal is a celebration of Polish culture
                            and a testament to our passion for delivering an exceptional dining experience.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="information-h3 mb-3"><strong>Opening Hours</strong></h3>
                    <p>
                        <strong>Monday - Friday:</strong> 09:00 - 22:00 <br>
                        <strong>Saturday - Sunday:</strong> 08:00 - 22:00
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704459485/Gdansk-canal_kmjdt0.jpg" class="card-img-top" alt="Interior of Polka Restaurant">
            </div>
        </div>
    </div>
</div>

{% endblock %}