{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container menu-container">
  <div class="row">
    <h1 class="sub-page-title padding">About Us</h1>
    <div class="col-md-6 padding">
      <h2 class="menu-h2">Our Story</h2>
      <p>
        Welcome to Polka Restaurant, a culinary journey that started in the heart of Poland and now extends to your table. Established in 2010, our restaurant was founded by a group of passionate individuals with a shared love for Polish cuisine and a vision to bring its rich flavors to a broader audience.
      </p>

      <p>
        Over the years, Polka has become a beloved establishment, known for its commitment to authenticity and the warmth of traditional Polish hospitality. Our chefs, inspired by age-old recipes passed down through generations, meticulously craft each dish to offer you a genuine taste of Poland.
      </p>

      <p>
        As we continue to grow, our dedication remains unwavering. We invite you to join us on a culinary adventure, where every meal is a celebration of Polish culture and a testament to our passion for delivering an exceptional dining experience.
      </p>
    </div>

    <div class="col-md-6">
      <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1703729040/58300_vgc9mx.jpg"
        class="img-fluid info-img" alt="Interior of Polka Restaurant" />
    </div>
  </div>
</div>

{% endblock %}