{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="menu-container">
    <div class="row">
        <!-- First Column -->
        <h1 class="sub-page-title padding text-center">Menu</h1>
        <div class="col-md-6 column-padding">

            
            <h2 class="menu-h2">SIDES</h2>
            <div class="menu-item">
                <h3 class="menu-h3">Kopytka - £4.99
                </h3>
                <div class="image-container">
                <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704335120/k_2FPhoto_2FRecipes_2F2020-12-how-to-make-kopytka_2F2020-12-14_ATK106998_h8jf8c.jpg" alt="Kopytka Image">
                </div>
                <p>Potato dumplings similar to gnocchi, served with butter, breadcrumbs, and sometimes crispy bacon.</p>
            </div>

            <div class="menu-item">
                <h3 class="menu-h3">Placki Ziemniaczane - £5.99</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704336066/Placki-Ziemniaczane-Polish-Potato-Pancakes-1600sq-o_szmtju.jpg" alt="Placki Ziemniaczane Image">
                    </div>
                <p>Crispy potato pancakes served with sour cream or applesauce.</p>
            </div>

            <h2 class="menu-h2">SOUPS</h2>
            <div class="menu-item">
                <h3 class="menu-h3">Żurek (Polish Sour Soup) - £7.50</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704336286/Zurek-Polish-Sour-Rye-Soup-1200x1200-1_wwde9d.jpg" alt="Zurek Image">
                    </div>
                <p>A traditional Polish soup with fermented rye flour, chicken or vegetable broth, sautéed vegetables, and optional sausage or bacon.</p>
            </div>

            <div class="menu-item">
                <h3 class="menu-h3">Barszcz (Beet Soup) - £6.90</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704336363/Vegan-Red-Borscht-Christmas-1200sq_iyvfi7.jpg" alt="Barszcz Image">
                    </div>
                <p>A vibrant beetroot soup served hot, often accompanied by sour cream and small dumplings called "uszka."</p>
            </div>

            <div class="menu-item">
                <h3 class="menu-h3">Rosół (Chicken Broth) - £6.00</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704336493/rosol-soup-featured_w5ecs3.jpg" alt="Rosol Image">
                    </div>
                <p>A clear chicken broth served with fine noodles or dumplings and fresh herbs.</p>
            </div>
        </div>
        <!-- Second Column -->
        <div class="col-md-6 column-padding">
            <h2 class="menu-h2">MAIN COURSES</h2>
            <div class="menu-item">
                <h3 class="menu-h3">Pierogi - £8.99</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704336855/delish-dill-cheddar-pierogis-102821-04-jg-min-1636731147.jpg_xc9e9b.jpg" alt="Pierogi Image">
                    </div>
                <p>Handmade dumplings filled with various options such as meat, potatoes, cheese, or sauerkraut, served with caramelized onions and sour cream.</p>
            </div>

            <div class="menu-item">
                <h3 class="menu-h3">Bigos (Hunter's Stew) - £10.99</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704336904/bigos-1_nvfbon.jpg" alt="Bigos Image">
                    </div>
                <p>A hearty dish featuring sauerkraut, fresh cabbage, a variety of meats, and aromatic spices.</p>
            </div>

            <div class="menu-item">
                <h3 class="menu-h3">Kotlet Schabowy - £9.99</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704336959/image-3-1-1_p9kclk.jpg" alt="Kotlet Schabowy Image">
                    </div>
                <p>Breaded and pan-fried pork cutlet, a Polish take on the classic schnitzel.</p>
            </div>

            <div class="menu-item">
                <h3 class="menu-h3">Gołąbki (Stuffed Cabbage Rolls) - £11.99</h3>
                <div class="image-container">
                    <img class="menu-image" src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1704337001/golabki-stuffed-cabbage-rolls-tomato-1200sq_sbxu22.jpg" alt="Golabki Image">
                    </div>
                <p>Cabbage leaves filled with a mixture of meat and rice, simmered in a tomato-based sauce.</p>
            </div>

            <h2 class="menu-h2">BEVERAGES</h2>
            <div class="menu-item">
                <h3 class="menu-h3">Kompot - £3.49</h3>
                <p>Homemade fruit compote, a refreshing non-alcoholic beverage.</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var menuItems = document.querySelectorAll('.menu-item');

        menuItems.forEach(function (menuItem) {
            menuItem.addEventListener('mouseenter', function () {
                // Scroll down by the height of the window
                window.scrollBy(0, window.innerHeight);
            });
        });
    });
</script>
{% endblock %}