{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row reservation-container">
  <div class="col-10 col-md-8 text-center reservations-table m-3 mx-auto">
    {% if user.is_authenticated %}
    {% else %}
      <p>
        You are not logged in yet, please
        <a href="{% url 'account_login' %}">login</a> or
        <a href="{% url 'account_signup' %}">create an account</a> to create and
        view your reservations.
      </p>
    {% endif %}

    <div class="form-style table-responsive">
      {% if reservation %}
        {# Display details for a specific reservation #}
        <h1 class="sub-page-title padding">Reservation Details</h1>
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <!-- ... header columns ... -->
          </thead>
          <tbody>
            <tr>
              <td>{{ reservation.name }}</td>
              <td>{{ reservation.date }}</td>
              <td>{{ reservation.get_time_display }}</td>
              <td>{{ reservation.number_of_guests }}</td>
              <td>{{ reservation.customer_email }}</td>
              <td>
                <a href="{% url 'update_reservation' reservation.id %}" class="btn btn-primary">Edit</a>
              </td>
              <td>
                <a href="{% url 'delete_reservation' reservation.id %}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      {% else %}
        {# Display the list of all reservations #}
        <h1 class="sub-page-title padding">Reservation List</h1>
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <!-- ... header columns ... -->
          </thead>
          {% for reservation in reservations %}
            <tbody>
              <tr>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.get_time_display }}</td>
                <td>{{ reservation.number_of_guests }}</td>
                <td>{{ reservation.customer_email }}</td>
                <td>
                  <a href="{% url 'update_reservation' reservation.id %}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                  <a href="{% url 'delete_reservation' reservation.id %}" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      {% endif %}
    </div>
    <div class="create-btn">
      <a href="{% url 'add_reservation' %}" class="btn btn-success">Create a Reservation</a>
    </div>
  </div>
</div>

{% endblock %}